<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest1()[pri:1, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personCreationTest1</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:38</td>   <td>531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest2()[pri:2, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personCreationTest2</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:39</td>   <td>773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest3()[pri:3, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personCreationTest3</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:39</td>   <td>822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest4()[pri:4, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personCreationTest4</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:39</td>   <td>972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personDeleteTest()[pri:13, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personDeleteTest</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:39</td>   <td>1181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personDeleteTest1()[pri:14, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personDeleteTest1</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:39</td>   <td>932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadAllTest()[pri:8, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personReadAllTest</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:39</td>   <td>874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest()[pri:5, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personReadTest</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:39</td>   <td>918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest1()[pri:7, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personReadTest1</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:39</td>   <td>902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest2()[pri:6, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">personReadTest2</td> 
  <td>main@525571</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/11/16 19:24:38</td>   <td>-60</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonServiceTestCase.setup()[pri:0, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@6325a3ee]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@525571</td>   <td></td> </tr>
</table>
