.split {
    height: 100%;
    position: absolute;
    top: 0;
} 
.left {
    left: 0;
    width: 25%;
    background-image: linear-gradient(rgb(55, 182, 199),grey);
} 
.right {
    right: 0;
    width:75%;
    height: 100%;
}
.button{
    padding:3%;
    border: 1px solid black;
    width:40%;
    text-align:center;
    font-size:100%;
    cursor: pointer;
    display: flow-root;
    margin-left: 30%;
    margin-top: 53%;

}
.button1{
    background-color: rgb(233, 236, 247);
    color:black;
}
.button1:hover{
    background-color: grey;
    color:white;
    transition: 0.4s;
    border: 1px solid powderblue;
}
.button2{
    background-color: rgb(233, 236, 247);
    color:black;

}
.button2:hover{
    background-color: grey;
    color:white;
    transition: 0.4s;
    border: 1px solid powderblue;
}
.grid-container {
    margin-top: 3%;
    display: grid;
    margin-right: 10%;
    margin-left: 10%;
    grid-template-columns: auto auto auto auto auto;
    background-color:rgb(0, 0, 0);
    padding: 2px;
}
.grid-item {
    background-color: rgb(187, 185, 185);
    border: 1px solid black;
    padding: 6%;
    text-align: center;
}
.row1{
    font-weight: bold;
    background-color:rgb(116, 197, 207);
    padding:10px;
}
.item1{
    grid-column: 4/6;
}
.heading{
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 20px;
}
.form{
    background-image: linear-gradient(rgb(55, 182, 199),grey);
    margin-left: 10%;
    height: 150px;
    width:35%;
    padding: 4%;
}
.label1{
    padding: 3%;
    font-size: 120%;
    height:10%;
}
input{
    width:60%;
}